$color-red: #ea0029;
$color-red-light: #dc3131;
$color-orange: #ff4f4f;
$color-gray: #eef0f2;
$color-gray-dark: #dfe3e6;
$color-text: #808080;
$color-mask: #b2b2b2;

$gradient: #ff5e56
  linear-gradient(232deg, $color-red-light 0%, $color-orange 93%);
